name: gw ami build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
 #   container: 
  #   image: ubuntu:latest
   #  volumes: 
    # - ${{ github.workspace }}:/app
   
      
    steps:
     - name: checkout repo
       uses: actions/checkout@v3

     - name: Set up Docker
       uses: docker/setup-docker@v2

     - name: Build Docker image
       run: docker build -t mycontainer .

     - name: Run Docker container
       run: docker run mycontainer
    

     - name: building image
       run: |
         sudo nohup bash script.sh
       shell: bash
